.PagePortfolioSingleContent {
  border-bottom: 7px solid var(--color-grey-bg);
  overflow: hidden;

  .Page__sectionInner {
    padding-bottom: 0;
  }

  &__sliderWrap {
    margin: 0 40px -43px;
    position: relative;

    &::after {
      background: url(../img/reflection-mac-medium_2x.png) 99.2% 4px no-repeat;
      background-size: contain;
      content: '';
      height: 88.5%;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: var(--z-index-PagePortfolioSingleContent__sliderWrap__after);

      @media (--tablet-portrait) {
        background-position: 99.2% 10px;
      }

      @media (--tablet-landscape) {
        background-position: 99.2% 14px;
      }
    }
  }

  &__screenshotOuter {
    background: url('../img/sliderShell-singleProject_top_2x.png') 0 0 no-repeat;
    background-size: contain;
    padding-top: 4%;
    position: relative;

    @media (--tablet-portrait) {
      padding-bottom: 43px;
    }

    &::after {
      background: transparent url(../img/sliderShell-singleProject_bot_2x.png) 0 100% no-repeat;
      background-size: contain;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }

  &__screenshotInner {
    background: transparent url(../img/sliderShell-singleProject_repeat_2x.png) 0 0 repeat-y;
    background-size: contain;
    margin: 0;
    padding: 1.7% 4.5% 36px 4.6%;

    @media (--tablet-portrait) {
      padding: .7% 3.5% 0 3.6%;
    }
  }

  &__slide {
    overflow: hidden;
    position: relative;

    &::before {
      background-color: var(--color-black);
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transition: opacity .4s ease-out;
      width: 100%;
      z-index: var(--z-index-PagePortfolioSingleContent__sliderWrap__after);
    }

    &::after {
      background: transparent url(../icons/enlarge--white.svg) 50% 50%;
      background-size: contain;
      bottom: 0;
      content: '';
      display: block;
      height: 35px;
      left: 0;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(45deg);
      transition: opacity .4s ease-out, transform .2s ease-out;
      width: 35px;
      z-index: var(--z-index-PagePortfolioSingleContent__sliderWrap__after);
    }

    &:hover {
      .no-touch & {
        cursor: pointer;

        &::before {
          opacity: .7;
        }

        &::after {
          opacity: 1;
          transform: rotate(90deg);
        }
      }
    }

    picture {
      text-align: center;
    }

    img {
      width: 100%;
    }
  }

  .swiper-wrapper {
    padding-bottom: 40px;
  }

  .swiper-pagination {
    bottom: 16px;

    @media (--tablet-portrait) {
      bottom: 13px;
    }
  }

  /* Lib Overides */
  .fslightbox-container {
    background: rgba(0, 0, 0, .85) !important;
    display: none;

    @media (--mobile-landscape) {
      display: block;
    }
  }

  .fslightbox-loader {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .fslightbox-source-outer {
    > div {
      align-items: center;
      display: flex;
      height: 92.5%;
      margin: 5% auto 0;
      overflow-y: scroll;
      width: 80%;
    }
  }

  .fslightbox-source {
    display: inherit;
    height: auto !important;
    margin: auto !important;
    max-width: 100%;
    width: auto !important;
  }
}
