# EditorConfig

# This is the top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Makefile
# Use tab indentation
[Makefile]
indent_style = tab
indent_size = 4
tab_width = 4

# Javascript
# https://github.com/airbnb/javascript
[*.{js}]
indent_style = space
trim_trailing_whitespace = true
indent_size = 2
tab_width = 2

# CSS
[*.{css}]
indent_style = space
indent_size = 2
tab_width = 2

# Twig templates
[*.{twig}]
indent_style = space
indent_size = 2
tab_width = 2

# C/C++ files
[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 4
tab_width = 4

# OpenGL Shading Language
[*.{glsl}]
indent_style = space
indent_size = 4
tab_width = 4

# Protocol Buffer files
[*.{proto}]
indent_style = space
indent_size = 4
tab_width = 4

# Dockerfile
[{Dockerfile,*.Dockerfile}]
indent_style = space
indent_size = 4
tab_width = 4

# JSON files
[*.{json}]
indent_style = space
indent_size = 2
tab_width = 2

# YAML files
# https://github.com/adrienverge/yamllint
[*.{yaml,yml}]
indent_style = space
indent_size = 2
tab_width = 2

# Python
[*.{py}]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 119

# Shell scripts
[*.{sh,csh}]
indent_style = space
indent_size = 4
tab_width = 4

# Markdown
[*.{md}]
trim_trailing_whitespace = false
