/* doc
---
title: Animations
name: Animations
category: Animations
---

Animations for the website

*/

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateScale {
  from {
    transform: rotate(0deg) scale(3);
  }

  to {
    transform: rotate(360deg) scale(3);
  }
}
