/*doc
---
title: Buttons
name: button
category: Base
---

Button styles:

```html_example
<a class="btn" href="http://google.com">Google</a>
<a class="btn btn--blue" href="http://yahoo.com">Yahoo</a>
```

*/
.btn {
  &--submitIcon {
    align-items: center;
    background: var(--color-qm-blue);
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 4px var(--color-qm-subfooter);
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    font-family: var(--font-heading-main);
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 20px;
    outline: none;
    padding: 8px 46px 7px 14px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .5s ease-out;

    svg {
      fill: var(--color-white);
      position: absolute;
      right: 12px;
      width: 20px;
    }

    &:hover {
      .no-touch & {
        background: var(--color-qm-grey);
        color: var(--color-white);
        text-decoration: none;
      }
    }

    .btn--submitIconSvg--loading {
      display: none;
    }

    &--loading {
      .btn--submitIconSvg {
        display: none;
      }

      .btn--submitIconSvg--loading {
        animation: rotate 3s linear infinite;
        display: block;
      }
    }
  }
}

.link {
  &--withHeading {
    color: var(--link-color);
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    transition: color .2s ease-out;

    &:focus,
    &:hover {
      .no-touch & {
        color: var(--link-hover);
      }
    }
  }

  &--withIcon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::after {
      content: ' \2192';
    }
  }
}
