:root {
  --color-black: #000;
  --color-utility-fade-dark: #1a1a1a;
  --color-utility-fade-light: #232323;
  --color-utility-bg: #222;
  --color-mine-shaft: #333;
  --color-nav-text: #333;
  --color-dark-full: #313131;
  --color-qm-heading: #4b4c4c;
  --color-tundora: #414141;
  --color-tundora-2: #444;
  --color-emperor: #555;
  --color-qm-body: #666;
  --color-qm-middlebody: #777;
  --color-gray: #888;
  --color-lightbody: #999;
  --color-lighterbody: #aaa;
  --color-qm-subfooter: #bbb;
  --color-submarine: #b9c1c3;
  --color-qm-grey: #b5b5b5;
  --color-sb-grey: #ccc;
  --color-utility-icon: #c3cacc;
  --color-alto: #d9d9d9;
  --color-alto-2: #ddd;
  --color-grey-bg: #ebebeb;
  --color-light-grey-bg: #f8f8f8;
  --color-light-grey-fade: #f9f9f9;
  --color-white: #fff;
  --color-primary-red: #cc2d32;
  --link-color: #bb5858;
  --link-hover: #833535;
  --color-alert-red: #bf605f;
  --color-alert-green: #588449;
  --color-qm-blue: #58909f;
  --color-sb-blue: #92b1c1;
  --color-social-facebook: #3b5998;
  --color-social-twitter: #00acee;
  --color-social-linkedin: #0e76a8;
  --color-social-contact: #58909f;
}
